ვეფხისტყაოსანი
აბოს წამება
გრიგოლ ხანძთელი
შუშანიკის წამება
სიბრძნე სიცრუისა
sources.txt
normalized
elucidations.json
error_terms
no_matches
elucidation_intersects
elucidation_errors.json
elucidations_left.json